$font_cursive:  'Zhi Mang Xing', cursive;
$font_text: 'Lato', sans-serif;

$color-primary: #282828;
$color-secondary: #3f4237;

$font-color: #fff;
$font-color-heading: #9baf6d;

$bp-nav: 50em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;